body {
    background-color: #00183c;
}


#floatdiv17 {
    display:none;
}

/* if screen size gets wider than 1024 */
@media screen and (min-width: 700px) {
  #floatdiv17 { display: block; }  /* show it on small screens */
}

#floatdiv18 {
    display:none;
}

/* if screen size gets wider than 1024 */
@media screen and (max-width: 699px) {
  #floatdiv18 { display: block; }  /* show it on small screens */
}

#floatdiv18 a {
    text-decoration: none;
    color: inherit;
}

.btn {
	margin-bottom: 10px;
}

